@font-face {
  font-family: CD;
  src: url(fonts/ClashDisplay-Variable.ttf);
}
body {
  font-family: CD;
  font-size: 16px;
}
:root {
  --c-dark: #212529;
  --c-brand: #4e57d4;
  --c-brand-light: #6970dd;
  --c-brand-rgb: 78, 87, 212;
}
